//  Базовые стили

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $body-bg;
  color: $text-color;
  font-family: $main-font;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: 0.5s;

  &:hover,
  &:active {
    color: $link-color--hover;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

section {
  position: relative;
}

.page-container {
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.container-content {
  max-width: $container-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.icon {
  display: inline-block;
}


.decoration-text{
  color: $decoration-color;
}

.decoration-bg {
  background-color: $decoration-color;
  
  &--2{
    background-color: #ebebeb;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row;

  &--justify-beetvine{
    justify-content: space-between;
  }

  &--align-center{
    align-items: center;
  }

  &--align-start{
    align-items: flex-start;
  }
}

.img-wrapper{
  position: relative;
}

.title{
  color: $decoration-color;
  margin-top: 0;
  &--sm{
    font-size: 18px;
    margin-bottom: 20px;
  }

  &--lg{
    font-size: 33px;
  }

  &--xl{
    font-size: 50px;
  }
}

.sub-title{
  font-size: 18px;
}

.description{
  margin-top: 0;
  margin-bottom:20px;
}

.title-section{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 39px;
}

.darken-link{
  color: $darken-color;
  text-decoration: underline;
}

.banner-page{
  padding-top: 70px;
}

.top-indent {
  margin-top: -40px;
  position: relative;
  z-index: 15;
}

.inner-blocks{
  max-width: 1040px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.link{
  text-decoration: underline;
  display: block;
}

//Indents
.pt-40 {
  padding-top: 40px;
}

.pb-35 {
  padding-bottom: 35px;
}

.mt-45{
  margin-top: 45px;
}

//JS

.page-header.sticky{
  position: fixed;
}