//  Подключения шрифтов

// font-family: 'Podkova';
// font-weight: 400
@font-face {
  font-family: 'Podkova';
  font-weight: 400;
  src:  local('Podkova'), local('Podkova-Regular');
  src:  url('../fonts/Podkova-Regular.eot');
  src:  url('../fonts/Podkova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Podkova-Regular.woff') format('woff'),
        url('../fonts/Podkova-Regular.ttf') format('truetype'),
        url('../fonts/Podkova-Regular.svg#Podkova-Regular') format('svg');
}

// font-family: 'Podkova';
// font-weight: 700
@font-face {
  font-family: 'Podkova';
  font-weight: 700;
  src:  local('Podkova'), local('Podkova-Bold');
  src:  url('../fonts/Podkova-Bold.eot');
  src:  url('../fonts/Podkova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Podkova-Bold.woff') format('woff'),
  url('../fonts/Podkova-Bold.ttf') format('truetype'),
  url('../fonts/Podkova-Bold.svg#Podkova-Bold') format('svg');
}

// font-family: 'Rubik';
// font-weight: 400
@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  src:  local('Rubik'), local('Rubik-Regular');
  src:  url('../fonts/Rubik-Regular.eot');
  src:  url('../fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubik-Regular.woff') format('woff'),
  url('../fonts/Rubik-Regular.ttf') format('truetype'),
  url('../fonts/Rubik-Regular.svg#Rubik-Regular') format('svg');
}

// font-family: 'Rubik';
// font-weight: 700
@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  src:  local('Rubik'), local('Rubik-Bold');
  src:  url('../fonts/Rubik-Bold.eot');
  src:  url('../fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubik-Bold.woff') format('woff'),
  url('../fonts/Rubik-Bold.ttf') format('truetype'),
  url('../fonts/Rubik-Bold.svg#Rubik-Bold') format('svg');
}

// font-family: 'Rubik';
// font-weight: 900
@font-face {
  font-family: 'Rubik';
  font-weight: 900;
  src:  local('Rubik'), local('Rubik-Black');
  src:  url('../fonts/Rubik-Black.eot');
  src:  url('../fonts/Rubik-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubik-Black.woff') format('woff'),
  url('../fonts/Rubik-Black.ttf') format('truetype'),
  url('../fonts/Rubik-Black.svg#Rubik-Black') format('svg');
}

// Заголовки

h1, h2, h3, h4, h5 {
  font-family: $title-font;
  font-weight: $title-font-weight;
  text-transform: uppercase;
}

h1 {
  font-size: 42px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}
