// Все элементы формы

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='search'],
input[type='password'],
textarea,
select {
  font-family: inherit;
  width: 100%;
  max-width: 100%;
  background: none;
  outline: 0 none;
  border: 1px solid #dedede;
  padding: 15px;
  color: #333;
  background-color: #fff;
  margin-top: 8px;
  margin-bottom: 12px;
}


.contact-form{
  width: 100%;
  text-align: center;

  label{
    display: block;
  }

  input,
  textarea {
    padding: 8px;
    border: none;

    &:focus::placeholder      {opacity: 0; transition: opacity 0.3s ease;}
  }

  textarea {
    resize: none;
    min-height: 150px;
  }

  .send-btn {
    display: inline-block;
    border: none;
    background-color: #020a10;
    color: white;
    width: 150px;
    padding: 15px 0;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 700;

    &:hover{
      background-color: #fff;
      color: #020a10;
    }
  }
}