.banner{
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $slider-color;
  position: relative;

  @include max-w(1920px){
    padding-top: 80px;
  }

  @include max-w($screen-xxxl){
    padding-top: 40px;
    padding-bottom: 25px;
  }

  @include max-w($screen-sm){
    padding-top: 25px;
  }
}

.intro-section{
  margin-bottom: 45px;

  &--all{
    margin-bottom: 60px;

    @include max-w($screen-md){
      margin-bottom: 25px;
    }
    p{
      color: $darken-color;
      max-width: 575px;
    }
  }

  p{
    margin-top: 8px;
  }
}

.case-section{
  padding: 65px 0;

  @include max-w($screen-xl){
    padding: 33px 0;
  }

  &--all{
    overflow-x: hidden;
  }
}

.inner-content{
  max-width:1065px;
  margin-left: auto;
}

.recommendation-section{
  background: #000 url("../images/arrow-l.png")no-repeat;
  background-size: cover;

  &--all{
    padding: 65px 0;
    background: inherit;

    @include max-w($screen-md) {
      padding: 25px 0;
    }
  }

  &--about{

  }
}