.content-box {
  background-color: $content-box;
  max-width: 662px;
  padding: 55px;

  &__link {
    text-decoration: underline;
  }

  &--position {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
  }

  &--slider {
    max-width: 305px;
    padding: 35px;
    position: absolute;
    left: 0;
    top: 165px;
    min-height: 245px;
  }

  &__description {
    &--sm{
      margin-bottom: 0;
      p{
        margin-bottom: 0;
      }
    }
  }
}