.page-header {
  position: relative;
  padding-top: 38px;
  padding-bottom: 36px;
  background-color: $header-color;
  width: 100%;
  z-index: 100;
}


.logo{
  max-width: 266px;
  >a{
    display: inline-block;
  }
}