.main-menu{
  @include clearlist();

  &__item{
    display: inline-block;
    margin-right: 11px;
    margin-left: 11px;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    color: $menu-item-color;
    text-transform: uppercase;
    font-weight: 700;

    &:hover{
      color: $menu-item-color-hover;
    }
  }
}