.slider-wrp {
  max-width: 1315px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  color: $darken-color;
}

.banner-slide {
  width: 100%;

  &__img {
    &--start-film {
      max-width: 520px;

      @include max-w($screen-xxl){
        max-width: 400px;
      }

      @include max-w($screen-xl){
        max-width: 300px;
      }

      @include max-w($screen-md){
        margin: 0 auto;
      }

      @include max-w($screen-sm) {
        max-width: 200px;

      }
    }

    &--oskar{
      max-width: 540px;
      @include max-w($screen-xxl){
        max-width: 400px;
      }

      @include max-w($screen-xl){
        max-width: 300px;
      }

      @include max-w($screen-md){
        max-width: 275px;
        margin: 0 auto;
      }

      @include max-w($screen-sm) {
        max-width: 200px;
      }
    }

    &--chair{
      @include max-w($screen-xxl){
        max-width: 400px;
      }

      @include max-w($screen-xl){
        max-width: 300px;
      }

      @include max-w($screen-md) {
        max-width: 275px;
        margin: 0 auto;
      }

      @include max-w($screen-sm) {
        max-width: 200px;
      }
    }
  }

  &__content {
    max-width: 665px;

    @include max-w($screen-xl){
      max-width: 535px;
    }

    @include max-w($screen-lg){
      max-width: 405px;
    }

    @include max-w($screen-md) {
      text-align: center;
      margin: 0 auto;
    }

    &--content-3 {
      max-width: 725px;

      @include max-w($screen-xxl){
        max-width: 585px;
      }

      @include max-w($screen-xl) {
        max-width: 440px;
      }

      @include max-w($screen-lg){
        max-width: 405px;
      }
    }
  }

  &__title {
    font-size: 75px;
    margin-bottom: 18px;
    margin-top: 0;

    @include max-w($screen-xxxl){
      font-size: 55px;
    }

    @include max-w($screen-xxl){
      font-size: 50px;
    }

    @include max-w($screen-xl){
      font-size: 45px;
    }

    @include max-w($screen-md) {
      font-size: 25px;
    }

    &--title-2 {
      max-width: 453px;
      //margin-top: 113px;
      margin-top: 0;

      @include max-w($screen-xl) {
        margin-top: 0;
      }
    }

  }

  &__description {
    text-transform: uppercase;
    font-size: 29px;
    font-family: $title-font;
    font-weight: 700;
    max-width: 500px;
    margin-top: 0;
    line-height: 32.16px;

    @include max-w($screen-xxxl){
      font-size: 25px;
    }

    @include max-w($screen-xxl){
      font-size: 22px;
    }

    @include max-w($screen-xl){
      font-size: 20px;
    }

    @include max-w($screen-md){
      font-size: 18px;
      line-height: 20px;
    }

    &--description-2 {
      max-width: 530px;
    }

    &--description-3 {
      max-width: 574px;
    }
  }

  &--slide-2 {
    max-width: 1205px;

    @include max-w($screen-xxxl){
      padding-left: 100px;
    }

    @include max-w($screen-xxl){
      padding-right: 100px;
    }

    @include max-w($screen-xl){
      padding-right: 0;
      padding-left: 0;
    }
  }

  &--slide-3 {
    max-width: 1315px;

    @include max-w($screen-xxl){
      padding-right: 50px;
      padding-left: 50px;
    }

    @include max-w($screen-lg){
      padding: 0;
    }
  }
}

.banner{

  .slick-list.draggable{
    position: static;
  }
  .slick-slider {
    position: static;
  }

  .slick-track{
    position: static;
  }

  .slick-dots{
    @include clearlist();
    position: absolute;
    left: 50%;
    bottom: 45px;
    transform: translateX(-50%);

    @include max-w($screen-xxxl){
      bottom: 70px;
    }

    @include max-w($screen-xl){
      bottom: 25px;
    }


    >li{
      display: inline-block;
      width: 30px;
      height: 30px;
      background-color: $body-bg;
      margin-right: 6px;
      margin-left: 6px;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.5s;

      @include max-w($screen-xl){
        width: 20px;
        height: 20px;
      }

      &:last-of-type{
        margin-right: 0;
      }
      &:first-of-type{
        margin-left: 0;
      }

      &.slick-active{
        background-color: $decoration-color;

        &:hover{
          background-color: $decoration-color;
        }
      }

      &:hover{
        background-color: darken($body-bg,15%);
      }
      > button{
        display: none;
      };
    }

  }
}

/*Cases*/
.case-slider{

  &__item{
    max-width: 360px;
    padding-left: 30px;
    position: relative;
    min-height: 410px;

    @include max-w($screen-md){
      max-width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__img{
    max-width: 330px;

    @include max-w($screen-md){
      max-width: 100%;
    }

    img{
      width: 100%;
    }
  }
}

.custom-dots{
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  margin-top: 44px;

  >li{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #e9e9e9;
    margin-right: 6px;
    margin-left: 6px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;

    @include max-w($screen-xl){
      width: 20px;
      height: 20px;
    }

    &:last-of-type{
      margin-right: 0;
    }
    &:first-of-type{
      margin-left: 0;
    }

    &.slick-active{
      background-color: $decoration-color;

      &:hover{
        background-color: $decoration-color;
      }
    }

    button{
      display: none;
    }
  }
}